{{! rendering all posts for the profile page based on user id }}

<div class='row'>
  <div class='col s12 m10 offset-m1 l8 offset-l2 flex createPostRow'>

    {{! form to add a new post }}
    <div id='create-post' class='card'>
      <div class='card-content'>
        <span class='card-title center-align'>Create A Post</span>
        <form id='new-snippet-form'>
          <div class='input-field'>
            <input id='post-title' type='text' name='post-title' required />
            <label for='post-title'>Title</label>
          </div>
          <div>
            <label for='post-language'>Language</label>
            <select id='post-language'>
              <option value='' disabled selected>Select Language</option>
              <option value='HTML'>HTML</option>
              <option value='CSS'>CSS</option>
              <option value='JS'>Javascript</option>
              <option value='Java'>Java</option>
              <option value='Cpp'>C++</option>
              <option value='PHP'>PHP</option>
              <option value='Ruby'>Ruby</option>
            </select>
          </div>
          <div class='input-field'>
            <textarea
              id='post-content'
              class='materialize-textarea'
              name='post-content'
              required
            ></textarea>
            <label for='post-content'>Content</label>
          </div>
          <div class="createBtnDiv">
            <button class='btn blue createBtn' type='submit'>Create</button>
          </div>
        </form>
      </div>
    </div>
    <div class='row history'>
      {{#if post.length}}
        {{#each post}}
          <div class='card blue-grey darken-1 currentPosts'>
            <div class='card-content white-text'>
              <p class='language'>{{this.language}}</p>
              <span class='card-title'>{{this.title}}</span>
              <pre><code>{{this.body}}</code></pre>
              <p class='metadata'>Created at: {{format_date createdAt}}</p>
              <div class='card-action'>
                <a href='#'>Like</a>
                <a href='#'>Save</a>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class='card blue-grey darken-1 currentPosts'>
          <div class='card-content white-text'>
            {{!-- <p class="language">{{category}}</p> --}}
            <span class='card-title valign center'>You have not created a post
              yet!</span>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<script src='/js/new.js'></script>